body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #292b2c;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
    border-radius: 10px;
}

.page-link {
    background-color: #292b2c;
    color: white;
}

.page-link:hover {
    background: #00abc2;
    color: white;
}

.card {
    background-color: #292b2c;
    border-radius: 10px;
    border: #a0fd8ba4 solid 1px;
    color: white;
}

.card:hover {
    background: #00abc2;
}